<a href="{{ "/home" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Home</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/notes" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Notes</h2></a>
<a href="{{ "/Tags" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Tags</h2></a>
<a href="{{ "/OSCP" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">OSCP</h2></a>
<a href="{{ "/Resources" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Resources</h2></a>
<a href="{{ "/reverse-engineering" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">reverse-engineering</h2></a>
<a href="{{ "/PWN" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">PWN</h2></a>
